<% content_for :devise_form do %>
  <h2 class="mb-4"><%= t('pages.devise.registration.new.static.name') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        placeholder: t('global.forms.placeholder.email'), class: "form-control mb-4" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password",
                           placeholder: t('global.forms.placeholder.password'), class: "form-control mb-4"%>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",
                           placeholder: t('global.forms.placeholder.password_confirmation'), class: "form-control"%>
      <% if @minimum_password_length %>
        <small class="form-text text-muted">
          <%= t ('global.forms.placeholder.p_s_condition'), count: @minimum_password_length  %>
        </small>
      <% end %><br />
    </div>

    <%= f.submit t('global.forms.ready'), class: "btn btn-dark my-4 btn-block" %>

    <hr>
  <% end %>
  <p><%= t('pages.devise.registration.new.static.account?') %> <%= render "devise/shared/links" %>
  </p>
<% end %>

<%= render "devise/shared/form_wrap" %>
