<div class="buffer-bottom bg-dark rounded p-3 text-light">
  <p><%= comment.body %></p>
  <p>
    <small>
      <span>
        <% if comment.user.present? %>
          <%= render partial: 'users/user', object: comment.user %>
        <% else %>
          <em><strong><%= comment.user_name %></strong></em>
        <% end %>
      </span>
      <em><%= l comment.created_at, format: :short %></em>
      <% if current_user_can_edit?(comment) %>
          <%= link_to(fa_icon('trash'), event_comment_path(comment.event, comment),
                  method: :delete,
                  data: { title: ' ',
                          confirm: t('pages.comments.confirm.consent'),
                          commit: t('global.confirm.ok'),
                          cancel: t('global.confirm.cancel') }
              ) %>
      <% end %>
    </small>
  </p>
</div>
