<h1 class="mb-4 mt-3"><%= t('pages.events.password_form.static.name') %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control',
                       placeholder: t('global.forms.placeholder.pin')%>
  </div>

  <div class="actions">
    <%= submit_tag t('global.forms.ready'), class: 'btn btn-dark' %>
  </div>
<% end %>

<%= t('global.forms.or') %> <%= link_to t('global.forms.back'), :back, class: "text-secondary" %>
