<p><%= t('pages.devise.mailer.reset_password.hello') %> <%= @resource.email %>!</p>

<p><%= t('pages.devise.mailer.reset_password.someone_request') %>.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('pages.devise.mailer.reset_password.if_not_u') %>.</p>
<p><%= t('pages.devise.mailer.reset_password.how_to_change') %>.</p>

