<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "BBQ", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'Профиль', current_user, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Войти', new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Зарегистрироваться', new_user_registration_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="mt-3 alert alert-<%= flash_class_name(name) %>" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>

    <footer>
      <p>&copy; Company <%= Time.now.year %></p>
    </footer>

  </div> <!-- /container -->


  </body>
</html>
